body {
    margin: 0;
    font-family: 'Verdana';
}

h1 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.charactor {
    font-size: 120px;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #4f290b;
}

.header_container {
    width: 420px;
    margin: 0px auto;
    padding: 3px;
}

.body_container {
    width: 420px;
    margin: 10px auto;
    padding: 10px;
}

#number {
    padding: 3px 5px;
    font-size: 16px;
}

#btn_submit {
    font-size: 16px;
}

.result {
    background-color: #eee;
    padding: 1px 15px;
    margin-bottom: 10px;
    overflow-x: auto;
}

p .result_number {
    font-size: 16px;
}

.time {
    font-size: 14px;
    color: #333;
}

@media screen and (max-width: 420px) {
    .header_container {
        width: 100%;
    }

    .body_container {
        width: calc(100% - 20px);
    }
}
