<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>素因数分解するマン</title>
    <style type="text/css" media="screen">
        @import url("/assets/style.css");
    </style>
</head>
<body>
    <div class="header">
        <div class="header_container">
            <h1>素因数分解するマン</h1>
        </div>
    </div>
    <div class="body_container">
        <form method="post" action="/calc" id="form" onSubmit="return check()">
            <p><input type="text" name="number" size="50" id="number" placeholder="数字を入れたら素因数分解するで〜" ></p>
            <p><input type="submit" value="分解する" id="btn_submit"></p>
        </form>
        <p>💩 {{.number}}</p>
        <p>💩 {{.result}}</p>
        <p>💩 時間: {{.time}}</p>
    </div>

    <script>
        function check(){
            var number = document.forms.form.number.value;
            if (number.length >= 50) {
                return window.confirm('50桁を超える数字を入れると、結構な確率でエラーが起こるで。本当にええんか・・・？');
            }
        }
    </script>
</body>
</html>